@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Archivo de CSS adicional o en tu sección <style> */
.hide-scroll-bar {
    /* Oculta la barra de scroll pero permite desplazamiento */
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Navegadores basados en Webkit como Chrome, Safari */
  }

.group:hover .rounded-lg {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
  border-color: #c0c0c0;
  /* Plateado brillante */
}
  
.group:hover img {
  filter: brightness(60%) contrast(120%);
}


/* Cambiar la opacidad del fondo */
.modal-backdrop {
  background-color: rgba(181 178 178); /* Ajusta la opacidad (0.0 a 1.0) según sea necesario */
}

/* resources/css/app.css */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.loading-gif {
  width: 120px; /* Ajusta el tamaño del WebP según sea necesario */
  height: 120px; /* Ajusta el tamaño del WebP según sea necesario */
}

/* Pre-cargar la imagen */
.preload {
  display: none;
  background: url('images/loading.webp') no-repeat;
}

