@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Archivo de CSS adicional o en tu sección <style> */
.hide-scroll-bar {
    /* Oculta la barra de scroll pero permite desplazamiento */
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Navegadores basados en Webkit como Chrome, Safari */
  }

.group:hover .rounded-lg {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
  border-color: #c0c0c0;
  /* Plateado brillante */
}
  
.group:hover img {
  filter: brightness(60%) contrast(120%);
}


/* Cambiar la opacidad del fondo */
.modal-backdrop {
  background-color: rgba(181 178 178); /* Ajusta la opacidad (0.0 a 1.0) según sea necesario */
}
